.card {
  background: #fff;
  border-radius: 8px;
  padding: 0.75rem 1rem;
  border: 1px solid #e2e8f0;
  margin-top: 15px;

  p,
  h3 {
    margin: 0;
    padding: 0;
    line-height: 1.2;
  }

  .card-header {
    margin-bottom: 0.8rem;
    gap: 8px;

    .card-title {
      font-size: 1.4rem;
      font-weight: 700;
      color: #0f172a;
    }

    .card-description {
      color: #64748b;
      font-size: 1rem;
    }
  }

  .card-content {
    .translations-list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}

.translation-item {
  padding: 0.6rem 0.8rem;
  border-left: 4px solid;
  border-radius: 6px;;

  &.loaded {
    border-left-color: #22c55e;
    background: #f0fdf4;
  }

  &.fault {
    border-left-color: #ef4444;
    background: #fef2f2;
  }

  .translation-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 18px;
    grid-column-gap: 0.75rem;

    .field {
      margin-bottom: 4px;

      .label {
        color: #64748b;
        font-size: 1rem;
      }

      .value {
        font-size: 0.85rem;
        font-weight: 700;
        color: #1e293b;
      }
    }

    .status {
      grid-column: 1 / -1;
      font-weight: 700;
      font-size: 0.75rem;
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 2px;

      &.loaded {
        color: #16a34a;
      }
      &.fault {
        color: #dc2626;
      }
    }
  }
}